{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/estoque_form.css') }}">

<h2>Adicionar Estoque</h2>

<form class="form-estoque">

<div class="form-group">
<label>Material</label>
<input type="text" placeholder="Ex: Adesivo">
</div>

<div class="form-group">
<label>Quantidade (m²)</label>
<input type="number" placeholder="Ex: 50">
</div>

<div class="form-group">
<label>Perda (%)</label>
<input type="number" placeholder="Ex: 10">
</div>

<div class="acoes">
<button class="btn">Salvar</button>
<a href="/estoque" class="btn-cancelar">Cancelar</a>
</div>

</form>

{% endblock %}