{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/cliente_form.css') }}">

<h2>Editar Cliente</h2>

<form class="form-cliente">

<div class="form-group">
<label>Nome</label>
<input type="text" value="{{ cliente.nome }}">
</div>

<div class="form-group">
<label>Telefone</label>
<input type="text" value="{{ cliente.telefone }}">
</div>

<div class="form-group">
<label>Empresa</label>
<input type="text" value="{{ cliente.empresa }}">
</div>

<div class="acoes">

<button class="btn">Salvar Alterações</button>

<a href="/clientes" class="btn-cancelar">Cancelar</a>

</div>

</form>

{% endblock %}